@for (student of students(); track $index) {

<div
  [ngClass]="{'grade-A': student.marks>=66,'grade-B': student.marks>=33 && student.marks<66, 'grade-C': student.marks<33}"
>
  @if (student.marks>=66) {
  <p>name:{{student.name}} | grade:A | result:Pass | city:{{student.city}}</p>
  } @else if (student.marks>=33 && student.marks<66) {
  <p>name:{{student.name}} | grade:B | result:Pass | city:{{student.city}}</p>
  } @else {
  <p>name:{{student.name}} | grade:C | result:Fail | city:{{student.city}}</p>
  }
</div>
}
